if words.length > 0
	ul
		each w in words
			li.wl
				span.word
					= w.title
				if w.image_url
					span.checked
						i.fa.fa-check-square-o
else
	if hc
		.empty_tip 抱歉，小柒无能为力了
	else
		.empty_tip 抱歉，在您的词库里没找到相关的单词
		.try.cn 试试按中文词义搜索
