#search
	.form
		form(action="#" onsubmit="$('#search_input').blur();return false;")
			span.ico
				i.fa.fa-search
			input#search_input(type="text" name="search" placeholder="按字母搜索" autocorrect="off" autocomplete="off" autocapitalize="off")
			span.btn.cancel
				i.fa.fa-times-circle
	.container


